In [2]:
import geopandas
boros = geopandas.read_file(geopandas.datasets.get_path("nybb"))

In [3]:
boros.BoroName

0    Staten Island
1           Queens
2         Brooklyn
3        Manhattan
4            Bronx
Name: BoroName, dtype: object

In [4]:
boro_locations = geopandas.tools.geocode(boros.BoroName)

In [5]:
boro_locations

                     geometry                             address
0  POINT (-74.07620 40.64350)    Staten Island, NY, United States
1  POINT (-73.81730 40.75978)        Queens County, United States
2  POINT (-73.99100 40.69253)         Brooklyn, NY, United States
3  POINT (-73.96943 40.78303)  Manhattan, New York, United States
4  POINT (-73.92027 40.82615)         Bronx County, United States